{% extends "layout.html" %}
{% block title %}My Info{% endblock %}
{% block content %}
<h2>My Info</h2>
Username: {{ userdata.username }} <br>
Added genres:
<ul>
    {% for data in genredata %}
    <li><a href="/genre/{{ data.gname }}">{{ data.gname }}</a>
    {% endfor %}
    </ul>
Added artists: 
<ul>
    {% for data in songdata %}
    <li><a href="/song/{{ data.artist_id }}">{{ data.aname }}</a>
    {% endfor %}
    </ul>
Added songs: 
<ul>
    {% for data in songdata %}
    <li><a href="/song/{{ data.song_id }}">{{ data.sname }}</a>
    {% endfor %}
    </ul>
{% endblock %}