{% extends "layout.html" %}
{% block content %}
<h2>Artist: {{ aname }}</h2>
<h2>Song: {{ sname }} </h2>
<h2>Genre: {{ gname }}</h2>
{% if condition == "youtube" %}
<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ hyperlink }}"></iframe>
</div>
{% elif condition == "soundcloud" %}
<div class="embed-responsive embed-responsive-21by9">
    #<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ hyperlink }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
</div>
  {% else %}
  Hyperlink: <a href="{{ hyperlink }}"></a>
{% endif %}
<h2>Song Description:</h2>
{{ sdesc }}
{% if reviews %}
<h3>Reviews</h3>
{% endif %}
{% if session.user_id %}
<ul>
    {% for entry in reviews %}
    <li> {{ entry[0] }} ({{ entry[1] }}/5): "{{ entry[2] }}"
        {% endfor %}
</ul>
<h3>Review song</h3>
<form action="/review" method="post">
    Tähdet:
    <select name="stars">
        <option value="1">1
        <option value="2">2
        <option value="3">3
        <option value="4">4
        <option value="5">5
    </select>
    <p>
        Review:<br>
        <textarea name="comment" rows="3" cols="40" maxlength="1000"></textarea>
    <p><input type="submit" value="Send">
        <input type="hidden" name="song_id" value="{{ song_id }}">
        <input type="hidden" name="artist_id" value="{{ artist_id }}">
        <input type="hidden" name="genre_id" value="{{ genre_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% if session.user_id %}
<a href="/addsong">Add a song</a>    
{% endif %}
{% endblock %}